@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  margin: 0;
  padding: 0;
  background: linear-gradient(12deg,#121313, #353535);
  /* height: 100vh; */
  /* overflow: hidden; */
}
.card--container{
  display: flex;
  flex-direction: column;
  /* color: white; */
  align-items: center;
  justify-content: center;
}